<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /BargheTo/
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule . /BargheTo/index.php [L]
    RewriteRule ^(application|system) - [F,L]
</IfModule>

